name: Sync Issues to Azure DevOps Work Items

permissions:
  contents: read

on:
  issues:
    types: [opened, closed, deleted, reopened, edited, labeled, unlabeled, assigned, unassigned]
  issue_comment:
    types: [created]

jobs:
  alert:
    runs-on: ubuntu-latest
    name: Sync workflow
    if: github.repository == 'Azure/Azure-Proactive-Resiliency-Library-v2'

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: GitHub/ADO Sync
        uses: a11smiles/GitSync@74d80b4ef67578135781e76ee1d4add1b98969b1 # v1.2.3
        env:
          ado_token: '${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}'
          github_token: '${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}'
          ado.autoCreate: 'true'
          config_file: './.github/actions-config/gh-ado-sync-config.json'
        with:
          ado: ${{ secrets.ADO_MAPPINGS_HANDLES }}
