name: Validate YAML Recommendations

on:
  pull_request:
    branches:
      - main
      - dev-tools
    paths:
    - '**/*.yaml'
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  yaml_file_check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python 3.x
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      - name: Run YAML file check
        run: |
          python -u .github/scripts/validate-yaml-recommendations.py


