name: Validate YAML Recommendations

on:
  pull_request:
    branches:
      - main
      - dev-tools
    paths:
    - '**/*.yaml'
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  yaml_file_check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python 3.x
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.x

      - name: Run YAML file check
        run: |
          python -u .github/scripts/validate-yaml-recommendations.py


