name: Validate ARG Queries

on:
  pull_request_target:
    branches:
      - main
      - dev-tools
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
    - '**/*.kql'
  workflow_dispatch: {}

permissions:
  contents: read  # This is required for actions/checkout

jobs:
  kql_file_check:
    permissions:
      id-token: write # This is required for requesting the JWT
    runs-on: ubuntu-latest
    if: |
      (
        github.event.pull_request.head.repo.full_name == 'Azure/Azure-Proactive-Resiliency-Library-v2'
      )
      ||
      (
        github.event.pull_request.head.repo.full_name != 'Azure/Azure-Proactive-Resiliency-Library-v2'
        &&
        contains(github.event.pull_request.labels.*.name, 'PR: Safe to Test ARG Queries :test_tube:')
      )
      ||
      (
        github.event_name == 'workflow_dispatch'
      )
      ||
      (
        github.event_name == 'merge_group'
      )

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          ref: ${{ github.head_ref }}


      - name: Azure login (OIDC)
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302 # v2.2.0
        if:
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Run KQL Comment Check
        run: |
          pwsh .github/scripts/validate-kql-comments.ps1

      - name: Run KQL Syntax Check
        run: |
          pwsh .github/scripts/validate-kql-syntax.ps1
