name: Validate ARG Queries

on:
  pull_request:
    branches:
      - main
      - dev-tools
    paths:
    - '**/*.kql'
  workflow_dispatch: {}

jobs:
  kql_file_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run KQL file check
        run: |
          pwsh .github/scripts/validate-kql-comments.ps1


